  {% block name -%}{%- endblock %}:
    continue-on-error: false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: node install
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: v9web/package-lock.json

      - run: npm clean-install
{% block steps -%}{%- endblock -%}
