{% extends "job.yml.njk" %}

{%block name %}
  node_run:
{% endblock %}

{%block steps %}
      - name: java install
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: java version
        shell: bash
        run: java -version

      - name: cache firestore emulator
        uses: actions/cache@v3
        with:
          path: /home/runner/.cache/firebase/emulators
          key: ${{ runner.os }}-${{ hashFiles('v9web/yarn.lock') }}

      - name: yarn run:emulator
        shell: bash
        timeout-minutes: 1
        run: cd v9web && yarn run:emulator
{% endblock %}
