{% extends "job.yml.njk" %}

{%block name %}node_run{% endblock %}

{%block steps %}
      - name: java install
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: cache firestore emulator
        uses: actions/cache@v3
        with:
          path: /home/runner/.cache/firebase/emulators
          key: firestore_emulator-${{ runner.os }}-${{ hashFiles('v9web/package-json.lock') }}

      - run: npm run run:emulator
        timeout-minutes: 1
{% endblock %}
